:root {
  --color-primary: #21375E;
  --color-secundary: #CBBB3A;
  --text-color: #000;
}

* {
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #ccc, #f5f6f7);
  font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.titulo {
  font-size: 42px;
  color: var(--color-primary);
  font-family: 'Montserrat', sans-serif;
}

.titulo-contenedor {
  position: relative;
}

.titulo-contenedor-linea {
  position: absolute;
  width: 100%;
  background-color: var(--color-secundary);
  height: 4px;
  bottom: 0;
  left: 0;
}

#imagen {
  width: 100%;
  max-width: 300px;
}

.img-contenedor {
  position: relative;
}

.img-contenedor-linea {
  position: absolute;
  background-color: var(--color-secundary);
  height: 15px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.subtitulos {
  color: var(--color-primary);
  text-transform: uppercase;
}

.sombra {
  box-shadow: 0px 0px 3px #21375E;
  padding: 0.5em 1em;
}

li {
  color: var(--color-secundary);
}

.parrafo {
  color: var(--color-primary);
}

.section-parrafo {
  column-count: 3;
}

.section-parrafo p {
  font-weight: 600;
}

.parrafo b a {
  text-decoration: none;
  color: var(--color-secundary);
  text-transform: uppercase;
  position: relative;
}

.parrafo b a::after {
  content: '';
  background-color: var(--color-secundary);
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 80%;

  opacity: 0;
  transition: .5s;
}

.parrafo b a:hover::after {
  opacity: 1;
}

